@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
--font-body: 0.9873rem; 
--font-sans-serif: 'Outfit', sans-serif; 
}

*{ 
    margin: 0;
    text-decoration: none;
    list-style: none; 
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: var(--font-sans-serif);  
    background-color: var(--light-gray);
    min-height: 100vh;
    
}

.card{
    width: 260px; 
    height: auto; 
    background-color: var(--white);
    margin: auto;
    padding: .3em;
    margin-top: 12.6875em;
    border-radius: 0.9873em;
    box-shadow: 1px 2px 28px 1px rgba(0,0,0,0.10)
}

.qr-position img{
    height: 15.2em;
    width: auto;
    border-radius: 0.9873em;
    padding: .5em;
    display: flex;
    margin: 0 auto;
}

.card-content__title{
    margin: -1em;
    text-align: center;
    padding: .6em;
    color: Var(--dark-blue);
    font-size: 1.2rem;
    font-family: var(--font-sans-serif);


}

.card-content__subtitle{
    margin-top: .6em;
    text-align: center;
    padding: .6em;
    font-weight: 500;
    color: var(--grayish-blue);
}
@media screen and ( min-width: 375px ){
    .card-content__description{
        padding: 1em;
        margin-top: -.5em;
    }
}